@import "~bootstrap/scss/bootstrap";
body {
    background-color: black;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
